.notFound {
	font-size: 100px;
	color: var(--inverted-bg-color);
	text-align: center;
	margin-top: 155px;
}

.emptyBasket {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.cart {
	width: 350px;
	height: 300px;
	fill: black;
}